<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A sparkling dust</title>
    <style>
       .firstparagraph{
           text-align: center;
           color:rebeccapurple;
       }      
   </style>
</head>

<body style="font-family: 'Gotham', sans-serif;">
    <div class="firstparagraph">
        <style>
           .firstparagraph {
            background-image: url(http://papers.co/wallpaper/papers.co-sl94-soft-pastel-purple-blue-blur-gradation-31-wallpaper.jpg); 
            background-repeat: repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            text-align: center; 
        }
       </style>
       <style>
            h1{
                color: navy;
            }

            .image{
                border-radius: 50%;
            }

            .imagesaya{
                border-radius: 50%;
                object-fit: cover;
            }

            .biodata{
                background-color: white;
                border-radius: 10px;
                width: 600px;
                padding: 1px;
                margin-top: 40px;
                margin-bottom: 40px;
                margin-left: 370px;
            }
        </style>

        <h1><br>A SHORT DESCRIPTION OF ME AND MY FRIENDS</h1>
        <img class="imagesaya" src="https://i.imgur.com/IMCNrOi.jpg" width="250px" height= "250px">
        <div class="biodata">
            <h2>Nice to meet you! <br> My name is </h2>
            <h1>{{ name }}</h1>
        
            <h2>Currently pursuing a <br> Computer Science degree,<br> majoring in {{major}}, {{campus}}</h2>
            <h3>NPM : {{ npm }}</h3>
            <h3>I am {{ age }} years old!</h3>
            <h3 id=selfdescription> {{desc1}} <br>
                {{desc2}}</h3>
            <h3 id=hobbies> My hobbies are: {{hobbies}}</h3>

            <h2 id="socialmedias">
                <a href="https://www.linkedin.com/in/alyaisti/" target = "_blank" style="color:brown">Check my experiences!<a/>
                <a href="mailto:safiraalya@gmail.com" target="_blank" style="color:brown"><p id="email">Send me an email!</p></a>	
            </h2>
        </div>
        
        <img class="image" src="https://instagram.fprg2-1.fna.fbcdn.net/vp/ac8cb661cc7a4c7b45d59a4085a7361d/5C1A39A8/t51.2885-15/sh0.08/e35/s750x750/12070759_1191806664185535_1777787446_n.jpg?ig_cache_key=MTIyNDU2NDY4MzI2NTczOTA2Ng%3D%3D.2" width="250px" height="250px">
        <div class="biodata">
            <h2>Nice to meet you! <br> My name is </h2>
            <h1>PRISSY AZZAHRA RATNADWITA</h1>        
            <h2>Currently pursuing a <br> Computer Science degree,<br> majoring in {{major}}, {{campus}}</h2>
            <h3>NPM : 1706984700</h3>
            <h3>I am 19 years old!</h3>
            <h3 id=selfdescription> I eat for me, I eat for fun, I eat for life mm mm mm </h3>
            <h3 id=hobbies> My hobbies are: nge-wibu and eating you as my friend<br></h3>
        </div>
           
        <img class="image" src="http://ii.worldmarket.com/fcgi-bin/iipsrv.fcgi?FIF=/images/worldmarket/source/74803_XXX_v1.tif&wid=650&cvt=jpeg" width="250px" height="250px">
        <div class="biodata">
            <h2>Nice to meet you! <br> My name is </h2>
            <h1>BANGKU</h1>
            <h2>I am also pursuing a <br> Computer Science degree,<br> majoring in everything i want, {{campus}} </h2>
            <h3>NPM : I dun hav one</h3>
            <h3>I am here since PUSILKOM was built.</h3>
            <h3 id=selfdescription> I am vailable in Lab 1103 Gedung A and I am a nice chair<br>
            I don't eat my friends, I let them sit on top of me </h3>
            <h3 id=hobbies> My hobby is standing still</h3>
        </div>
        
        <button type="button" onclick="alert('Thank you PPW!')">This is the end!</button>
    </div>
    
</body>
</html>
