
.firstparagraph{
    text-align: center;
    /*background-color:  #AB2235;*/
    color:rebeccapurple;
}

h1{
    color: navy;
}

.firstparagraph {
    /*background-image: linear-gradient(to bottom right,purple, blue); /* Standard syntax (must be last) */
    background-image: url(http://papers.co/wallpaper/papers.co-sl94-soft-pastel-purple-blue-blur-gradation-31-wallpaper.jpg); 
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    text-align: center; 
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    font-size: 20px;
    font-style: oblique;
}
